<div class="card">
    <div class=" d-flex card-header pending_header ">
        <div class=" d-flex pending_heading ">
            <p>Pending audits (8)</p>
            <span class="card_dot"></span>
        </div>
        <div class=" d-flex pending_subheading ">
            <p>View all</p>
            <img src="../../assets/images/Menubar/Icon/arrow-right.svg" alt="">
        </div>
    </div>

    <div class="card-body ">
        <div class="pending_body d-flex">
            <img src="../../assets/images/Menubar/Icon/clipboard.svg" alt="">
            <span class="pending_body_text">
                <p class="pending_body_info">
                    Currently, you don't have any Pending audits.</p>
            </span>
        </div>
    </div>
</div>