<div class="card">
    <div class=" d-flex card-header ongoing_header ">
        <div class=" d-flex ongoing_heading ">
            <p>Ongoing audits (8)</p>
            <span class="card_dot"></span>
        </div>
        <div class=" d-flex ongoing_subheading ">
            <p>View all</p>
            <img src="../../assets/images/Menubar/Icon/arrow-right.svg" alt="">
        </div>
    </div>

    <div class="card-body ">
        <div class="ongoing_body d-flex">
            <img src="../../assets/images/Menubar/Icon/clipboard.svg" alt="">
            <span class="ongoing_body_text">
                <p class="ongoing_body_info" >Currently, you don't have any ongoing audits.</p>
            </span>
        </div>
    </div>
  </div>