<div class="container-fluid dashboad_container">
    <div class="row">
      <div class="col">
        <h4 class="heading">Dashboard</h4>
        <p class="sub_heading">Welcome to auditor desk for Castor SuCCESS, Auditor module</p>
          <div class=" row audit_module_wrapper ">
              <div class="col-lg-2 col-md-4 col-sm-4 audit">
                <h5>{{displayStatistics.totalAudit}}</h5>
                <p class="audit_module_sub_heading">Total audits</p>
              </div>
              <div class="col-lg-2 col-md-4 certified">
                <h5>{{displayStatistics.certified}}</h5>
                <p class="audit_module_sub_heading">Certified</p>
              </div>
              <div class="col-lg-2 col-md-4 approved">
                <h5>{{displayStatistics.approved}}</h5>
                <p class="audit_module_sub_heading">Approved</p>
              </div>
              <div class="col-lg-2 col-md-4 completed">
                <h5>{{displayStatistics.completed}}</h5>
                <p class="audit_module_sub_heading">Completed</p>
              </div>
              <div class="col-lg-2 col-md-4 ongoing">
                <h5>{{displayStatistics.ongoing}}</h5>
                <p class="audit_module_sub_heading">Ongoing</p>
              </div>
              <div class="col-lg-2 col-md-4 pending">
                <h5>{{displayStatistics.pending}}</h5>
                <p class="audit_module_sub_heading">Pending</p>
              </div>
          </div>
       
      </div>
    </div>
  </div>