<div class="container-fluid">
    <div class="row">
        <div class="col">
            <!-- home dashboad -->
            <app-dashboard-statistics></app-dashboard-statistics>
            <div class="container-fluid row audit_container">
                <div class="col-lg-6 col-md-12">
                    <app-on-going-audit></app-on-going-audit>
                </div>
                <div class="col-lg-6 col-md-12">
                    <app-pending-audit></app-pending-audit>
                </div>
            </div> 
            <div class=" container-fluid row table_container">
                <div class="col">
                    <app-dashboard-table></app-dashboard-table>
                </div>
            </div>
        </div>
    </div>
</div>