<div class="toolbar w-100">
  <div class="w-100">
    <span>
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/success_logo.svg" alt="navbar brand image">
      </a>
    </span>
  </div>
  <div>

    <div class="user__profile" (click)="profileNavigate()">
      <img src="../../assets/images/navbar-user-profile-image.jpg" alt="user profile image">

      <div class="dropdown ">
        <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
          aria-expanded="false">Joe Doe
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>