<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae porro suscipit consequuntur illum incidunt perferendis, voluptates a illo totam quasi ipsum voluptas. Dolor officiis optio repellat distinctio blanditiis sint enim.</p>
            <!-- home dashboad -->
            <!-- <app-total-list></app-total-list> -->
            <div class="row audit_container">
                <div class="col-lg-6 col-md-12">
                    <!-- <app-on-going-audit></app-on-going-audit> -->
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- <app-pending-audit></app-pending-audit> -->
                </div>
            </div> 
            <div class="row table_container">
                <div class="col">
                    <!-- <app-dashboard-table></app-dashboard-table> -->
                </div>
            </div>
        </div>
    </div>
</div>